name: Build Telegram iOS (Unsigned)

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install deps
        run: |
          brew update
          brew install bazelisk yasm

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Build (NO codesign)
        run: |
          bazelisk build //Telegram:Telegram --apple_disable_code_signing=true

      - name: Find IPA
        run: find . -name "*.ipa"

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: Telegram-unsigned
          path: "**/*.ipa"
